* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html, body {
  height: 100%;
  width: 100%;
}

body,main{
  background-color: black;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  align-items: start;
}

.card{
  height: 350px;
  width: 300px;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;

  img{
    height: 150px;
    width: 150px;
    object-fit: fill;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  h3{
    font-size: 26px;
    margin: 8px;
    white-space: nowrap;
  }

  h4{
    font-size: 20px;
    margin: 8px;
    color: crimson;
  }

  p{
    padding: 10px;
  }

}

